@import "bootstrap-sprockets";
@import "bootstrap";


.login-background{
  width: 100%;
  height: 700px;
  background-image: image-url(ironbackground);
  background-repeat: no-repeat;

}

.center-signon {
  margin: 0 auto;
  width: 325px;
}

.logo{
  text-align: center;
}
