<% @topic.reviews.each do |review|%>
  <h5><strong>User: <%= review.user.email %></strong></h5>
  <li><span class="rating-comment">Rating:</span><%= review.rating %></li>
  <li><span class="rating-comment">Comment:</span><%= review.comment %></li>
<% end %>
