<% @topic.reviews.each do |review|%>
  <h5><strong>User: <%= review.user.email %></strong></h5>
  <li><h5><strong>Rating:</strong></h5><%= review.rating %></li>
  <li><h5><strong>Comment:</strong></h5><%= review.comment%></li>
<% end %>
